* {
  font-size: 1.5vw;
}

main {
  margin: auto;
  max-width: 1300px;
  width: 100%;
  border: 1px solid black;
  position: relative;
}

#welcome-container {
  display: flex;
  flex-direction: column;
}

#instrucitons-header {
  padding: 10px;
}

#welcome-container .centered {
  align-self: center;
  padding: 10px;
}

#welcome-container li {
  padding: 10px;
}

#trivia-header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
}

#trivia-header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

#trivia-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid-square {
  min-height: 300px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: lightgray;
}

.grid-square.selected {
  background-color: royalblue;
}

#trivia-output {
  display: grid;
  grid-template-columns: 4fr 1fr;
  min-height: 100px;
}

#output-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable:hover {
  cursor: pointer;
}

#results-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 3vw;
}

.success {
  color: green;
}

.fail {
  color: red;
}

.review-question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.review-question div {
  display: flex;
  align-items: center;
}

.review-question i {
  margin-right: 20px;
}

#results-options {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#reveal-answer {
  position: absolute;
  top: 25%;
  left: 35%;
  height: 300px;
  width: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.success-background {
  background-color: lightgreen;
}

.fail-background {
  background-color: palevioletred;
}
